@use 'variables';
@use 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Orbitron', monospace;
}

.main-content {
  width: 100%;
}




